/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template:
    "header header"
    "sidebar main"
    "footer footer"
    / 100px 1fr;
}

header {
  grid-area: header;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

aside {
  grid-area: sidebar;
  background-color: rgb(225, 140, 140);
  padding: 10px;
}

main {
  grid-area: main;
  background-color: white;
  padding: 10px;
  text-align: left;
}

footer {
  grid-area: footer;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}
